{% extends 'base.html.twig' %}



{% block body %}



    <p>écrire</p>

    {{ form_start(formMessage) }}
    {{ form_widget(formMessage.content) }}
    <button type="submit" class="btn btn-success">Send</button>
    {{ form_end(formMessage) }}


{% endblock %}
